List of videos here!!!! 
<article id="details-article" class="col-sm-8">
            <h1 id="article-title"><%= @video.video_title %> <span class="font-weight-light">

<iframe src="//player.vimeo.com/video/100357654" width="500" height="228" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div> 


		</span></h1>
                    
        </article>